.container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 0;
        padding: 0;
    }

    .pagination {
        height: 60px;

        > button {
            border: 1px solid gray;
            border-radius: 100%;
            width: 42px;
            height: 42px;
            color: gray;
            cursor: pointer;
        }
    }
}
