.container {

    > p {
        > a {
            outline: none;
            border: none;
            color: rgb(1, 205, 125);
        }
    }

    > h3 {
        color: rgb(31, 36, 40);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
        width: 317px;
    }
}
