.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .pagination {
        margin-top: 50px;

        > button {
            width: 42px;
            height: 42px;
            box-sizing: border-box;
            border: 1px solid gray;
            background: rgb(255, 255, 255);
            border-radius: 100%;
            color: black;
            cursor: pointer;
        }
    }
}
