.container {
    display: flex;
    flex-direction: column;
    width: 700px;

    input {
        box-sizing: border-box;
        border-bottom: 1px solid white;
        height: 55px;
        color: black;
        background: transparent;
        width: 500px;
        color: white;

        &::placeholder {
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
        }

        &:focus {
            outline: 0;
        }
    }

    .submit {
        display: flex;
        margin-top: 30px;

        > p {
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
            margin-left: 30px;
        }
    }
}
