.container {
    display: flex;
    padding-top: 4rem;
    height: 475px;
    justify-content: space-between;
    align-items: center;

    > img {
        border-radius: 100%;
    }

    h3 {
        width: 400px;
        height: 72px;
        color: rgb(31, 36, 40);
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }

    h5 {
        color: rgb(31, 36, 40);
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }
}
