.container {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-top: 158px;

    > div {
        display: flex;
        width: 228px;
        justify-content: space-around;
        align-items: center;

        > img {
            width: 60px;
            height: 60px;
        }

        > h5 {
            color: rgb(31, 36, 40);
            font-size: 1rem;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
            width: 88px;
            height: 48px;

        }
    }
}
