.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    > div {
        display: flex;
         width: 170px;
        height: 52;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .rotatedArrow {
        transform: rotate(180deg);
    }

     > img {
        width: 2rem;
        height: 1rem;
    }
}
