.container {
    display: flex;
    flex-direction: column;

    > p {
        width: 289px;
        height: 24px;
        color: rgb(31, 36, 40);
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    > h3 {
        width: 296px;
        height: 36px;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0;
        padding: 0;
        color: rgb(31, 36, 40);
    }
}

.anotherColor {
        color: rgb(1, 205, 125);
    }
