.container {
    width: 685px;
    height: 260px;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    background-color: rgba(219, 219, 219, 0.5);
    border-radius: 2rem;

    .info {
        > h5 {
            color: rgb(31, 36, 40);
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
            margin: 0;
            padding: 0;
            margin-bottom: 0.5rem;
        }

        > p {
            color: rgb(31, 36, 40);
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
            width: 363px;
            height: 26px;
            margin: 1rem 0 67px 0;
            padding: 0;
            padding-bottom: 3rem;
        }

        > h6 {
            color: rgb(31, 36, 40);
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
            margin: 0;
            padding: 0;

            > span {
                color: rgb(31, 36, 40);
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
}
