.container {
    margin-bottom: 30px;

    > p {
        margin-bottom: 30px;
        color: rgb(31, 36, 40);

        > a {
            outline: none;
            border: none;
            color: rgb(1, 205, 125);
        }
    }

}
